//theme
$color = {
    primary : #ff7e7f,
    secundary : #BBFF96,
    primary_light: blend(rgba(#fff, .8), #ff7e7f),
    secundary_dark: darken(#BBFF96, 5),
    light: #ffffff,
    dark: #111111
}

$shadowElement ={
    medium:  0 2px 4px rgba(0, 0, 0, .12) 0 0 6px rgba(0, 0, 0, .04)
}
//helpers
$marginPage =  2em 3em
$marginPage_centred = 2em 5em;
//$boxShadow = 1px 2px 3px 2px #38383833;
$boxShadow = 0 2px 8px rgba(0, 0, 0, .20), 0 0 6px rgba(0, 0, 0, .10);

.cta
    color $color.primary
    font-size: 1.3rem;
    margin 1em 0
    border-radius: 30px;
    padding: 0.5em 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    span
        font-weight: 600 !important;
.cta_primary
    color white
    background-color $color.primary
    font-size: 1.3rem;
    margin 1em 0
    border-radius: 30px;
    padding: 0.5em 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    span
        font-weight: 600 !important;

//FONTS
@font-face
    font-family: 'futura';
    font-style: normal;
    font-weight: 500;
    src: local('futura_m'), url(../assets/fonts/futura_medium.TTF) format('truetype');
@font-face
    font-family: 'futura';
    font-style: normal;
    font-weight: 300;
    src: local('futura_l'), url(../assets/fonts/futura_light.TTF) format('truetype');
@font-face
    font-family: 'futura';
    font-style: normal;
    font-weight: 700;
    src: local('futura_b'), url(../assets/fonts/futura_bold.TTF) format('truetype');
@font-face
    font-family: 'futura';
    font-style: normal;
    font-weight: 900;
    src: local('futura_b'), url(../assets/fonts/futura_black.TTF) format('truetype');

*
    font-family: futura 