<template>
	<div>
		
			<section class="bodyHome">
					<NavBar/> <!-- navbar Component -->
					<Portade/> <!-- Portade Component -->
					<Container></Container>
					<!-- SERVICIOS
					<BestSeller/>
					<Banner1/>
					<Steps></Steps>
					-->
			</section>
		
	</div>
</template>

<script>
import NavBar from '../components/NavBar'
import Container from '../components/ContainerHome'
import Portade from'../components/Portade';
import BestSeller from '../components/BestSeller';
import Banner1 from '../components/Banner1'
import Steps from '../components/Steps'

export default {
	components: {
		NavBar: NavBar,
		Portade,
		BestSeller,
		Banner1,
		Steps,
		Container
	},
}
</script>


<style lang="stylus">
	@import'../Stylus/_variables.styl'

	.bodyHome
		width: 100%;
		overflow: hidden;
</style>