<template>
    <section id="ofert" class="bannerW">
        <div class="banner">
            <div class="banner_img">
                <img src="../assets/img/banner/plato_banner.png" alt="">
            </div>

            <div class="banner_text">
                <div class="textCont">
                    <div class="title">
                        <h2>
                            best tasty
                        </h2>
                    </div>
                    <div class="subTitle">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem eum labore libero praesentium unde.
                    </div>
                    <el-button   class="cta">
                        Order now
                    </el-button>
                </div>
            </div>

        </div>
        <!--
        <figure >
            <img src="@/assets/img/forma_negra.svg" alt="">
        </figure>
        -->
    </section>
</template>



<script>
export default {
    
}
</script>

<style lang="stylus" scoped>
    @import'../Stylus/_variables.styl'

    .bannerW
        //min-height: 90vh
        width: 100%
        background: #0c0c0c
        padding-bottom: 50px;
        .banner
            display: flex;
            flex-direction row-reverse
            justify-content: center;
            align-items: center;
            padding: $marginPage
            .banner_img
                flex: 0 0 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img
                    width: 70%;

            .banner_text
                font-size: 1.5em;
                //color: $color.secundary
                display flex
                justify-content center
                align-items center
                .textCont
                    flex: 0 2 90%;
                    display flex
                    flex-direction column
                    align-items: flex-start;
                    .title
                        font-size: 2em;
                        margin: 0.25em 0;
                        h2
                            color: $color.secundary
                            font-weight: 400 !important;
                    .cta
                        background: $color.secundary;
                        color: $color.dark !important;
                        font-size: .8em;
                        padding: .5em 2em;
                    .subTitle
                        font-weight: 300;
                        margin: 0.25em 0;
                        color: $color.light
        figure
            position: relative;
            display: flex;
            margin: -100px 0 0 -1px;
            img
                width: 100%;
</style>
