<template>
    <section class="bannerW">
        <div class="banner">

            <div class="banner_img">
                <img src="../assets/img/banner/plato2.png" alt="">

            </div>
            <div class="banner_text">
                <div class="textCont">
                    <div class="title">
                        <h2>
                            best tasty
                        </h2>
                    </div>
                    <div class="subTitle">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem eum labore libero praesentium unde.
                    </div>
                    <el-button   class="cta">
                        Order now
                    </el-button>
                </div>
            </div>

        </div>
        <figure >
            <img src="@/assets/img/forma_rosa.svg" alt="">
        </figure>
    </section>
</template>



<script>
export default {
    
}
</script>

<style lang="stylus" scoped>
    @import'../Stylus/_variables.styl'

    .bannerW
        //min-height: 90vh
        width: 100%
        background: white
        .banner
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $marginPage
            .banner_img
                flex: 0 0 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img
                    width: 80%;

            .banner_text
                z-index 6
                font-size: 1.5em;
                color: $color.primary
                display flex
                justify-content center
                align-items center
                .textCont
                    flex: 0 2 90%;
                    display flex
                    flex-direction column
                    align-items: flex-start;
                    .title
                        font-size: 2em;
                        margin: 0.25em 0;
                        h2
                            font-weight: 400 !important;
                    .cta
                        background: $color.primary;
                        color: white !important;
                        font-size: .8em;
                        padding: .5em 2em;
                    .subTitle
                        font-weight: 300;
                        margin: 0.25em 0;
        figure
            position: relative;
            display: flex;
            margin: -100px 0 -1px -1px;
            img
                width: 100%;
</style>
