<template>
	<div id="bestSeller" class="contenedor">
		<figure class="formaRosa" >
			<img src="../assets/img/forms/forma_rosa.svg" alt="">
		</figure>
		<section class="bestSeller section_centrated">


		<!-- titulo y subtitulo -->
		<div class="title">
			<h2>Best sushi seller</h2>
			<span>La excelente gastronomía se define a través de productos, ingredientes frescos y de gran calidad, platos innovadores y un menú variado.</span>
		</div>

		<!-- lista de mas vendidos -->
		<section class="foodList">
			<div
				v-for="item in bestSelledList" :key="item.title"
				class="foodList_item"
			>
				<figure>
					<!-- <img :src="item.img" alt=""> -->
					<!-- <img :src="item.img" alt=""> -->
					<img src="@/assets/img/menu1/plato1.png" alt="">
				</figure>
				<div class="foodList_item_text">
					<h3>{{item.title}}</h3>
					<span>{{item.subtitle}}</span>
				</div>
			</div>
		</section>

	</section>
	</div>
</template>

<script>
export default {
	name: "Best-seller",
	data() {
		return {
			bestSelledList:{
				
			}
		}
	},
	created() {
		class bestSeller {
			constructor(img, title, subtitle){
				this.title = title
				this.img = img
				this.subtitle = subtitle
			}
		}
		let bestSellerList = {
			canapesCrocantes: new bestSeller('../assets/img/menu1/plato1.png','Canapés Crocantes','Ingredientes frescos y de gran calidad, platos innovadores y un menú variado'),
			bastonesDeSalmon: new bestSeller('../assets/img/menu1/plato2.png','Bastones de Salmón','Ingredientes frescos y de gran calidad, platos innovadores y un menú variado'),
			webRolls: new bestSeller('../assets/img/menu1/plato3.png','Web Rolls','Ingredientes frescos y de gran calidad, platos innovadores y un menú variado')
		}
		console.log(bestSellerList);
		this.bestSelledList = bestSellerList
	},
}
</script>

<style lang="stylus" scoped>
@import'../Stylus/_variables.styl'
	.contenedor
		position relative
	.formaRosa
		width: 100%;
		position: absolute;
		top: -240px;
		z-index: 2;
	.section_centrated
		padding: 2em 5em;

	.bestSeller
		background-color $color.primary
		min-height 90vh
		display flex
		flex-direction column
		font-size: 1.8em;
		align-items: center;
		color: white;
		.title
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 1.15;
			width 80%
			@media screen and (max-width: 648px)
				width 100%
			
			h2
				font-size 2em
				text-transform uppercase
				margin .5em
			span
				font-size: 1em;
				font-weight: 300 !important
				margin .5em
		.foodList
			display flex
			justify-content center
			.foodList_item
				flex: 2 2 auto;
				padding: 10px;
				margin: 1em .25em;
				.foodList_item_text
					font-size: 1.2rem;
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
				h3
					font-size: 1.8em;
					text-align: center;
					margin: 10px 0;
				span
					font-weight 300
					font-size: 1.1em;
			.foodList_item figure img
				width: 100%;

</style>