<template>
    <section class="containerHome">
        <BestSeller></BestSeller>
        <Banner1></Banner1>
        <Steps></Steps>
        <Banner2></Banner2>
        <JoinUs></JoinUs>
        <Contact></Contact>
        <Footer></Footer>
    </section>
</template>

<script>
    import BestSeller from '../components/BestSeller';
    import Banner1 from '../components/Banner1'
    import Steps from '../components/Steps'
    import Banner2 from '../components/Banner2'
    import JoinUs from "./JoinUs";
    import Contact from "./Contact";
    import Footer from "./Footer";

    export default {
        name: "ContainerHome",
        components:{
            BestSeller,
            Banner1,
            Banner2,
            Steps,
            JoinUs,
            Contact,
            Footer
        }
    }
</script>

<style lang="stylus" scoped>

    section.containerHome
        padding-top 150vh

</style>