<template>
    <section id="contact" class="contact">
        <div class="figures">
            <figure>
                <img src="@/assets/img/esquinaRosaL.svg" alt="">
            </figure>

            <figure>
                <img src="@/assets/img/esquinaRosaR.svg" alt="">
            </figure>
        </div>

        <section class="contact_cont">
            <div class="contact_title">
                <h4>Escribenos</h4>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, molestias.
                </span>
            </div>
            <div class="contact_form">
                <el-form label-position="top" :model="formInline" label-width="100px" class="emailForm">
                        <el-form-item label="Nombre">
                            <el-input color="red" v-model="formInline.user" placeholder="E-mail"></el-input>
                        </el-form-item>

                        <el-form-item label="E-mail">
                            <el-input color="red" v-model="formInline.email" placeholder="E-mail"></el-input>
                        </el-form-item>

                    <el-form-item label="Mensaje">
                        <el-input type="textarea" v-model="formInline.message"></el-input>
                    </el-form-item>

                    <el-form-item class="boton">
                        <el-button class="cta_primary"  @click="onSubmit">Enviar</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </section>

    </section>
</template>

<script>
    export default {
        name: "Contact",
        data (){
            return{
                formInline: {
                    user: '',
                    message: '',
                    email: '',
                }
            }
        },
        methods:{
            onSubmit() {
                console.log('submit!');
            }
        },
    }
</script>

<style lang="stylus" scoped>
    @import'../Stylus/_variables.styl'
    .contact
        background-color white
        min-height 80vh
        .figures
            display flex
            width 100%
            justify-content space-between
            figure
                flex 0 2 20%
                img
                    width 100%
        .contact_cont
            padding: $marginPage_centred
            display: flex;
            flex-direction: column;
            .contact_title
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.8em;
                color: $color.primary;
                h4
                    font-size: 2em;
                    font-weight: 700;
                span
                    font-weight: 300;

            .contact_form
                width: 100%
                display: flex
                justify-content: center
                .emailForm
                    flex: 0 2 40%
                    padding: 20px 30px
                    border: $color.primary outset 3px
                    margin: 2em 0
                    border-radius: 25px
                    box-shadow $boxShadow

                .boton
                    display flex
                    justify-content: center;
                    margin: auto auto;
                    .el-form-item__content
                        flex: 0 2 45%;
                        .cta_primary
                            font-size: 1.1rem !important;
                            flex 2 3 50%
                            width 100%

</style>