<template>
    <section id="join" class="join">
        <div class="join_avatar">
            <div class="img">

            </div>
        </div>
        <div class="join_text">
            <span>
                "Si eres un fanático de la gastronomía, si te gusta pasar tiempo en tu cocina, es probable que estés buscando recursos confiables a través de los cuales puedas hacerlo, podemos ayudarte <b>¡lleva sushimi a otras latitudes!"</b>  </span>
            <div class="join_cta cta">
                Mas información
            </div>
        </div>

    </section>
</template>

<script>
    export default {
        name: "JoinUs"
    }
</script>

<style lang="stylus" scoped>
    @import'../Stylus/_variables.styl'

    .join
        padding: $marginPage_centred
        width: inherit;
        min-height: 80vh;
        background-image: url(../assets/img/fondo.jpeg);
        background-size: cover;
        background-attachment: fixed;
        display flex
        flex-direction column
        align-items center
        .join_avatar
            //flex 0 2 40%
            width 300px
            height: 300px;
            background black
            background-image url("../assets/img/ceo_img.jpg")
            background-size cover
            background-position-x -30px
            border-radius 50%
            margin 1em
            .img
                position relative
                overflow hidden
                border-radius 50%
                img

                    width 100%

        .join_text
            margin: 1em 0
            font-size 1.8em
            color #FFF
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            span
                font-weight 300
                b
                    font-weight: 500 !important
            .join_cta
                background: #fff
                cursor: pointer
                font-weight: 700
                font-size: 0.8em
                transition all .25s ease-in
                &:hover
                    box-shadow: $boxShadow





</style>