<template>
    <div class="navbar ">
        <div class="navbar_brand">
            <img src="../assets/img/sushimiLogo.svg" alt="">
        </div>
        
        <div class="navbar_items h-100 flex_y_center">
<!--            <a href="#div-id" v-smooth-scroll>Anchor</a>-->
            <span href="#" v-smooth-scroll class="navbar_items_item color-sucess">Home</span>
            <span  href="#bestSeller" v-smooth-scroll class="navbar_items_item">Productos</span>
            <span href="#steps" v-smooth-scroll class="navbar_items_item">Proceso</span>
            <span href="#ofert" v-smooth-scroll class="navbar_items_item">Promo</span>
            <span href="#join" v-smooth-scroll class="navbar_items_item">Promo</span>
            <span href="#contact" v-smooth-scroll class="navbar_items_item">Contacto</span>
        </div>

           

    </div>
</template>

<script>
// import firebase from 'firebase/app';
// import 'firebase/auth'
export default {
    data() {
        return {

            profile:{
                name: '',
                email: '',
            } ,
            isUser:false
        }
    },
    methods: {
       
    },
    // mounted() {
    //     // let isUser = firebase.auth().currentUser
    //     // console.log(isUser)
    //     // this.isUser = isUser
    //     let user = firebase.auth().currentUser;
    //     if (user != null) {
    //         this.isUser= true;
    //         this.profile.name = user.displayName;
    //         this.profile.email = user.email;
    //         console.log(user)
    //     }
       

    // },
}
</script>

<style lang="stylus" scoped>
    @import'../Stylus/_variables.styl'
    
    .navbar
        color $color.primary
        background-color $color.primary_light
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
        display flex
        padding: 0 3em;
        min-height 4em
        position: fixed;
        top: 0px;
        z-index: 999999;
        width: 100%;


        &_brand
            font-size: 2.6em;
            height 100%
            display flex
            padding 5px 0
            width: 70px;
            img
                width 100%
            

        &_items
            margin  0 auto
            display flex
            flex 0 2 50vw
            justify-content: center;
            font-size: 1.1em;
            &_item
                height: 100%;
                align-self: center;
                display: flex;
                align-items: center;
                border-bottom: 3px transparent inset;
                transition: all .25s ease-out;
                cursor pointer
                margin .8em
                padding: 0 10px;
                font-weight 500
                &:hover
                    border-bottom: 3px $color.secundary_dark  inset;




        
        &_actions
            display flex
            align-items center
            justify-content flex-end
</style>