<template>

		<section id="portade" class="portade">
			<figure class="portade_img"></figure>
			<figure class="pink_mask"></figure>
			<div class="portade_text">
				<h1>
					<span class="a">DELICIOUS</span>  <br/> SUSHI
				</h1>
				<span>
					Mantenniendo altos estándares de calidad, proporcionando siempre una experiencia extraordinaria a los amantes de la comida asiática
				</span>
				<el-button class="cta" size="large" >order now</el-button>

				<!-- <el-popover
					placement="bottom"
					title="Title"
					width="200"
					trigger="manual"
					content="this is content, this is content, this is content"
					v-model="visible">
					<el-button slot="reference" @click="visible = !visible">Manual to activate</el-button>
				</el-popover> -->
			</div>

		</section>

</template>

<script>
export default {
	data() {
		return {
			visible: false
		}
	},
}
</script>

<style lang="stylus" >
	@import'../Stylus/_variables.styl'
	.portade
		position: fixed;
		height: 100vh;
		z-index: -2;
		// background-image url("../assets/img/portade.jpg")
		display flex
		color $color.light
		padding: 2em 3em
		&_img
			position absolute
			width 100%
			height  100%
			top 0
			left 0
			z-index 1
			background-image url("../assets/img/portade.jpg")
			background-position: center
			background-size: cover

		&_text
			flex  0 2 50%
			font-size: 1.6em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			z-index 3
			line-height 1
			align-items: flex-start;
		.cta
			color $color.primary
			font-size: 1.1rem;
			margin 1em 0
			border-radius: 30px;
			padding: 0.5em 2em;
			letter-spacing: 2px;
			text-transform: uppercase;
			span
				font-weight: 900 !important;
		h1
			font-size 2.5em
			margin .25em 0
			font-weight 800
			.a
				font-weight 900
		span
			margin .25em 0
			font-weight 500
	.pink_mask
		background-color: rgba(157, 77, 79, 0.77);
		opacity: 0.6;
		z-index 2
		position absolute
		width 100%
		height  100%
		top 0
		left 0


</style>