<template>
    <div>
        
    </div>
</template>

<script>
export default {
     methods: {
      handleClick(tab, event) {
        console.log(tab);
      }
    }
}
</script>

<style lang="stylus" scoped>

</style>