<template>
    <div id="steps" class="cont">
        <section class="steps">
        <div class="steps_title">
            <h3>¡Facil y rapido!</h3>
            <span>En pocos pasos sushimi llega a ti</span>
        </div>
        <div class="steps_section">
            <div class="step">
                <div class="step_title">
                    Escoge
                </div>
                <div class="progreso">
                    <div class="icon_mask">
                        <i class="el-icon-shopping-cart-full"></i>
                    </div>
                    <el-progress
                            status="success"
                            type="circle"  width="100" color="#BBFF96"
                            :percentage="25">
                    </el-progress>
                </div>
                <span>Lorem ipsum dolor sit amet.</span>
            </div>



            <div class="step">
                <div class="step_title">
                    Llena tus datos
                </div>
                <div class="progreso">
                    <div class="icon_mask">
                        <i class="el-icon-s-order"></i>
                    </div>
                    <el-progress
                            status="success"
                            type="circle"  width="100" color="#BBFF96"
                            :percentage="50">
                    </el-progress>
                </div>

                <span>Lorem ipsum dolor sit amet.</span>
            </div>
            <div class="step">
                <div class="step_title">
                    Procesa tu compra
                </div>
                <div class="progreso">
                    <div class="icon_mask">
                        <i class="el-icon-s-finance"></i>
                    </div>
                    <el-progress
                            status="success"
                            type="circle"  width="100" color="#BBFF96"
                            :percentage="75">

                    </el-progress>
                </div>
                <span>Lorem ipsum dolor sit amet.</span>
            </div>

            <div class="step">
                <div class="step_title">
                    Recibe tu pedido
                </div>
                <div class="progreso">
                    <div class="icon_mask">
                        <i class="el-icon-shopping-bag-1"></i>
                    </div>
                    <el-progress

                            type="circle"  width="100" color="#BBFF96"
                            :percentage="100" status="success">
                    </el-progress>
                </div>
                <span>Lorem ipsum dolor sit amet.</span>
            </div>
        </div>
    </section>
        <figure >
            <img src="@/assets/img/formaNegra.svg" alt="">
        </figure>
    </div>

</template>

<script>
    export default {
        name: "Steps",
        data(){
            return{

            }
        },
        methods: {

        }
    }
</script>

<style lang="stylus" scoped>
    @import'../Stylus/_variables.styl'
    $white_text = #fff

    .cont
        background-color: $color.primary
    figure
        position: relative;
        display: flex;
        margin: -70px 0px 0px 0px;
        width: 102%;
        img
            width: 100%;

    .steps
        background-color $color.primary
        display flex
        flex-direction column
        align-items center
        justify-content flex-start
        font-size 2em
        padding $marginPage
        &_title
            margin 0 0 1em 0
            text-align center
            h3
                font-size: 2em
                font-weight 700
                color: $color.secundary
                line-height 1
            span

                line-height 1
                color lighten($white_text, 20%)
                font-weight 300

        .steps_section
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin: 1em 0;
            .step
                flex: 1 3 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                //min-height: 50vh;
                margin: .5em;
                text-align: center;
                .step_title
                    color: $color.secundary;
                    font-weight: 700;
                span
                    font-size: .7em
                    color: $white_text
                    font-weight 300
                .progreso
                    position relative
                    margin: .5em 0;

                    .icon_mask
                        position absolute
                        width 100%
                        height  100%
                        top 0
                        left 0
                        display flex
                        justify-content center
                        align-items center
                        z-index 666
                       i
                           background-color: $white_text
                           color: $color.primary
                           padding: 8px;
                           border-radius: 50%;


</style>